requests
django
daphne
django-jazzmin
channels
djangorestframework
djangorestframework-simplejwt
django-cors-headers
python-dotenv
channels-redis
django-environ
whitenoise
gunicorn
psycopg2-binary
pillow
